@font-face {
  font-family: 'KTN';
  src: url('/fonts/RustyAttack.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}
.intro-banner .lead.text-primary {
  color: #fff !important;
}
